In [ ]:
# Assignment-2: Pandas

# Q.1 Create a dataset as follow in the table.
# Q.2 From the above table that you have created, Locate row 0, 4, 7 and 8 using dataframe.
# Q.3 Read a csv file, and display it.

In [2]:
# Q.1 Create a dataset as follow in the table
import pandas as pd

data = {
    'TId': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund': ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital_Status': ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable_Income': ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
print("Created Dataset:")
print(df)

Created Dataset:
   TId Refund Marital_Status Taxable_Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [6]:
# Q.2 From the above table that you have created, Locate row 0, 4, 7 and 8 using dataframe

print("Locating rows 0, 4, 7, and 8:")
print("\n-- Using .iloc[] method --")
selected_rows = df.iloc[[0, 4, 7, 8]]
print(selected_rows)

print("\n-- Individual rows --")
print(f"Row 0:\n{df.iloc[0]}")
print(f"\nRow 4:\n{df.iloc[4]}")
print(f"\nRow 7:\n{df.iloc[7]}")
print(f"\nRow 8:\n{df.iloc[8]}")

Locating rows 0, 4, 7, and 8:

-- Using .iloc[] method --
   TId Refund Marital_Status Taxable_Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

-- Individual rows --
Row 0:
TId                    1
Refund               Yes
Marital_Status    Single
Taxable_Income      125K
Cheat                 No
Name: 0, dtype: object

Row 4:
TId                      5
Refund                  No
Marital_Status    Divorced
Taxable_Income         95K
Cheat                  Yes
Name: 4, dtype: object

Row 7:
TId                    8
Refund                No
Marital_Status    Single
Taxable_Income       85K
Cheat                Yes
Name: 7, dtype: object

Row 8:
TId                     9
Refund                 No
Marital_Status    Married
Taxable_Income        75K
Cheat                  No
Name: 8, dtype: object

In [8]:
# Q.3 Read a csv file, and display it

df.to_csv('sample.csv', index=False)
print("CSV file 'sample.csv' created from our dataset.")

# Now read the CSV file and display it
print("\nReading CSV file and displaying it:")
df_from_csv = pd.read_csv('sample.csv')
print(df_from_csv)

# Display additional information about the CSV file
print(f"\nDataset shape: {df_from_csv.shape}")
print(f"Column names: {list(df_from_csv.columns)}")
print(f"\nData types:")
print(df_from_csv.dtypes)

CSV file 'sample.csv' created from our dataset.

Reading CSV file and displaying it:
   TId Refund Marital_Status Taxable_Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

Dataset shape: (10, 5)
Column names: ['TId', 'Refund', 'Marital_Status', 'Taxable_Income', 'Cheat']

Data types:
TId                int64
Refund            object
Marital_Status    object
Taxable_Income    object
Cheat             object
dtype: object

In [9]:
# Q.4 Understanding Attribute Types Using Python
# Represent different types of attributes with examples

import pandas as pd
import numpy as np

print("=== Q.4: Understanding Attribute Types Using Python ===\n")

# 1. NOMINAL ATTRIBUTES (Categories without order)
print("1. NOMINAL ATTRIBUTES (e.g., names, departments)")

nominal_data = {
    'Employee_ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing']
}

df_nominal = pd.DataFrame(nominal_data)
print("\nNominal Attributes Dataset:")
print(df_nominal)
print(f"Data types:\n{df_nominal.dtypes}\n")

# 2. BINARY ATTRIBUTES (Two possible values)
print("2. BINARY ATTRIBUTES (e.g., gender, pass/fail)")

binary_data = {
    'Student_ID': [101, 102, 103, 104, 105],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Pass_Fail': ['Pass', 'Fail', 'Pass', 'Pass', 'Fail']
}

df_binary = pd.DataFrame(binary_data)
print("\nBinary Attributes Dataset:")
print(df_binary)
print(f"Data types:\n{df_binary.dtypes}\n")

# 3. ORDINAL ATTRIBUTES (Categories with meaningful order)
print("3. ORDINAL ATTRIBUTES (e.g., low < medium < high)")

ordinal_data = {
    'Employee_ID': [201, 202, 203, 204, 205],
    'Education_Level': ['High School', 'Bachelor', 'Master', 'PhD', 'Bachelor'],
    'Performance_Rating': ['Poor', 'Average', 'Good', 'Excellent', 'Good'],
    'Satisfaction': ['Low', 'Medium', 'High', 'High', 'Medium']
}

df_ordinal = pd.DataFrame(ordinal_data)
print("\nOrdinal Attributes Dataset:")
print(df_ordinal)


# 4. NUMERIC ATTRIBUTES (Continuous and Discrete)
print("4. NUMERIC ATTRIBUTES")

numeric_data = {
    'Product_ID': [301, 302, 303, 304, 305],
    # Continuous attributes
    'Price': [25.99, 45.50, 12.75, 89.99, 33.25],
    'Weight_kg': [2.5, 1.8, 0.9, 3.2, 1.5],
    'Temperature_C': [23.5, 18.7, 31.2, 15.8, 27.3],
    'Height_cm': [165.5, 172.3, 158.9, 180.1, 169.7],
    # Discrete attributes
    'Quantity_Sold': [10, 25, 5, 18, 32],
    'Number_of_Reviews': [15, 42, 8, 67, 23],
    'Stock_Count': [100, 250, 75, 150, 200],
    'Years_in_Service': [2, 5, 1, 8, 3]
}

df_numeric = pd.DataFrame(numeric_data)
print("\nNumeric Attributes Dataset:")
print(df_numeric)
print(f"\nData types:\n{df_numeric.dtypes}")

print("\nContinuous vs Discrete Attributes:")
continuous_attrs = ['Price', 'Weight_kg', 'Temperature_C', 'Height_cm']
discrete_attrs = ['Quantity_Sold', 'Number_of_Reviews', 'Stock_Count', 'Years_in_Service']

print(f"Continuous Attributes: {continuous_attrs}")
print(f"Discrete Attributes: {discrete_attrs}")

=== Q.4: Understanding Attribute Types Using Python ===

1. NOMINAL ATTRIBUTES (e.g., names, departments)

Nominal Attributes Dataset:
   Employee_ID     Name Department
0            1    Alice         HR
1            2      Bob         IT
2            3  Charlie    Finance
3            4    Diana         IT
4            5      Eve  Marketing
Data types:
Employee_ID     int64
Name           object
Department     object
dtype: object

2. BINARY ATTRIBUTES (e.g., gender, pass/fail)

Binary Attributes Dataset:
   Student_ID  Gender Pass_Fail
0         101    Male      Pass
1         102  Female      Fail
2         103    Male      Pass
3         104  Female      Pass
4         105    Male      Fail
Data types:
Student_ID     int64
Gender        object
Pass_Fail     object
dtype: object

3. ORDINAL ATTRIBUTES (e.g., low < medium < high)

Ordinal Attributes Dataset:
   Employee_ID Education_Level Performance_Rating Satisfaction
0          201     High School               Poor          Low
1          202        Bachelor            Average       Medium
2          203          Master               Good         High
3          204             PhD          Excellent         High
4          205        Bachelor               Good       Medium
4. NUMERIC ATTRIBUTES

Numeric Attributes Dataset:
   Product_ID  Price  Weight_kg  Temperature_C  Height_cm  Quantity_Sold  \
0         301  25.99        2.5           23.5      165.5             10
1         302  45.50        1.8           18.7      172.3             25
2         303  12.75        0.9           31.2      158.9              5
3         304  89.99        3.2           15.8      180.1             18
4         305  33.25        1.5           27.3      169.7             32

   Number_of_Reviews  Stock_Count  Years_in_Service
0                 15          100                 2
1                 42          250                 5
2                  8           75                 1
3                 67          150                 8
4                 23          200                 3

Data types:
Product_ID             int64
Price                float64
Weight_kg            float64
Temperature_C        float64
Height_cm            float64
Quantity_Sold          int64
Number_of_Reviews      int64
Stock_Count            int64
Years_in_Service       int64
dtype: object

Continuous vs Discrete Attributes:
Continuous Attributes: ['Price', 'Weight_kg', 'Temperature_C', 'Height_cm']
Discrete Attributes: ['Quantity_Sold', 'Number_of_Reviews', 'Stock_Count', 'Years_in_Service']

In [12]:
# Q.5 Navigate the DataFrame and do the following task for the table created in question 1:
# 1. Select row from index 3 to 7
# 2. Select row from index 4 to 8, and column 2 to 4
# 3. Select all rows with column index 1 to 3 (include index 3 during selection)

print("=== Q.5: DataFrame Navigation Tasks ===\n")

print("Select row from index 3 to 7")
rows_3_to_7 = df.iloc[3:8]
print(rows_3_to_7)
print(f"Selected rows shape: {rows_3_to_7.shape}\n")

print("Columns 2-4 are:", list(df.columns[2:5]))
rows_4_to_8_cols_2_to_4 = df.iloc[4:9, 2:5]
print(rows_4_to_8_cols_2_to_4)
print(f"Selected data shape: {rows_4_to_8_cols_2_to_4.shape}\n")

print("Columns 1-3 are:", list(df.columns[1:4]))
all_rows_cols_1_to_3 = df.iloc[:, 1:4]
print(all_rows_cols_1_to_3)
print(f"Selected data shape: {all_rows_cols_1_to_3.shape}")

=== Q.5: DataFrame Navigation Tasks ===

Select row from index 3 to 7
   TId Refund Marital_Status Taxable_Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
Selected rows shape: (5, 5)

Columns 2-4 are: ['Marital_Status', 'Taxable_Income', 'Cheat']
  Marital_Status Taxable_Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No
Selected data shape: (5, 3)

Columns 1-3 are: ['Refund', 'Marital_Status', 'Taxable_Income']
  Refund Marital_Status Taxable_Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K
Selected data shape: (10, 3)