In [1]:
print ("Hello World")

Hello World

In [2]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
a = 10
b = 220
c = a + b
print (a, "+", b, "->", c)

10 + 220 -> 230

In [8]:
a = "Jane"
b = " Sharma"
c = a + b
print (a, "+", b, "->", c)

Jane +  Sharma -> Jane Sharma

In [6]:
a = "Jane"
b = 100
c = a + str(b)
print (a, "+", b, " -> ", c)

Jane + 100  ->  Jane100

In [10]:
# Assignment 2.1: Add three numbers and print the result
num1 = 5
num2 = 10
num3 = 15
sum_result = num1 + num2 + num3
print("Sum of three numbers:", sum_result)

# Assignment 2.2: Concatenate three strings and print the result
str1 = a
str2 = b
str3 = " is pretty"
concat_result = str1 + str2 + str3
print("Concatenation of three strings:", concat_result)

Sum of three numbers: 30
Concatenation of three strings: Jane Sharma is pretty

In [12]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		
print  (a, "+", b, " -> ", c)

Riya + Dudeja  ->  RiyaDudeja

In [13]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " -> ", c)

7  +  8  ->  15

In [14]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

In [15]:
print ("range(10)        --> ", list(range(10)))
print ("range(10,20)     --> ", list(range(10,20)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

range(10)        -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)     -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)    -->  [2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2)-->  [-10, -12, -14, -16, -18]

In [16]:
for i in range(0,10):
	print (i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(0,20,2):
	print (i)

0
2
4
6
8
10
12
14
16
18

In [18]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [19]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [21]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is -> ",s)

Sum is ->  55

In [22]:
print ("Sum is -> ", sum(range(1,11)))

Sum is ->  55

In [24]:
# Assignment 4.1: Print tables of 7 and 9
print("Table of 7:")
for i in range(1, 11):
    print(f"7 * {i} = {7 * i}")

print("\nTable of 9:")
for i in range(1, 11):
    print(f"9 * {i} = {9 * i}")

# Assignment 4.2: Print table of n (n given by user)
n = int(input("Enter a number for table: "))
print(f"\nTable of {n}:")
for i in range(1, 11):
    print(f"{n} * {i} = {n * i}")

# Assignment 4.3: Add all numbers from 1 to n (n given by user)
n = int(input("Enter a number to sum up to: "))
total = sum(range(1, n + 1))
print(f"\nSum of numbers from 1 to {n} is {total}")

Table of 7:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Table of 9:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Table of 7:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Sum of numbers from 1 to 5 is 15

In [25]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

7  <  9

In [26]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Prime

In [19]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

a > b

In [27]:
# Assignment 5.1: Find max among three numbers using max() function
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
maximum = max(num1, num2, num3)
print("Maximum among three numbers:", maximum)

# Assignment 5.2: Add all numbers divisible by 7 and 9 from 1 to n
n = int(input("Enter the value of n: "))
sum_div_7_9 = sum(i for i in range(1, n+1) if i % 7 == 0 or i % 9 == 0)
print(f"Sum of numbers divisible by 7 or 9 from 1 to {n}:", sum_div_7_9)

# Assignment 5.3: Add all prime numbers from 1 to n
def is_prime(x):
    if x < 2:
        return False
    for j in range(2, int(x ** 0.5) + 1):
        if x % j == 0:
            return False
    return True

n = int(input("Enter the value of n for prime sum: "))
prime_sum = sum(i for i in range(1, n+1) if is_prime(i))
print(f"Sum of all prime numbers from 1 to {n}:", prime_sum)

Maximum among three numbers: 19
Sum of numbers divisible by 7 or 9 from 1 to 76: 646
Sum of all prime numbers from 1 to 8: 17

In [28]:
def Add(a,b):
	c=a+b
	return c

print ("Add(10,20) ->", Add(10,20))
print ("Add(20,50) ->", Add(20,50))
print ("Add(80,200) ->", Add(80,200))

Add(10,20) -> 30
Add(20,50) -> 70
Add(80,200) -> 280

In [29]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20)  -> ", IsPrime(20))
print ("IsPrime(23)  -> ", IsPrime(23))
print ("IsPrime(200) -> ", IsPrime(200))
print ("IsPrime(37)  -> ", IsPrime(37))

IsPrime(20)  ->  0
IsPrime(23)  ->  1
IsPrime(200) ->  0
IsPrime(37)  ->  1

In [30]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  -> ", AddN(10))
print ("AddN(20)  -> ", AddN(20))
print ("AddN(50)  -> ", AddN(50))
print ("AddN(200) -> ", AddN(200))

AddN(10)  ->  55
AddN(20)  ->  210
AddN(50)  ->  1275
AddN(200) ->  20100

In [31]:
# Assignment 6.1: Add all odd numbers from 1 to n
def add_odds(n):
    return sum(i for i in range(1, n+1) if i % 2 != 0)

n = int(input("Enter the value of n for odd sum: "))
odd_sum = add_odds(n)
print(f"Sum of all odd numbers from 1 to {n}: {odd_sum}")

# Assignment 6.2: Add all prime numbers from 1 to n
def is_prime(x):
    if x < 2:
        return False
    for j in range(2, int(x ** 0.5) + 1):
        if x % j == 0:
            return False
    return True

def add_primes(n):
    return sum(i for i in range(1, n+1) if is_prime(i))

n = int(input("Enter the value of n for prime sum: "))
prime_sum = add_primes(n)
print(f"Sum of all prime numbers from 1 to {n}: {prime_sum}")

Sum of all odd numbers from 1 to 78: 1521
Sum of all prime numbers from 1 to 87: 874

In [32]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

In [34]:
var = 'Hey there!'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

var      -->  Hey there!
var[0]   -->  H
var[1:5] -->  ey t
var[:-5] -->  Hey t